<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="script/index.js"></script>

</body>

<footer class="footer">
    <p class="footerContent"> &copy; Sameer Ahmed </p>
</footer>

</html>