<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sameer</title>

    <!-- Fav Icon  -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="public/images/sam.ico"> -->
    <!-- <link rel="icon" href="data:,public/images/sam.ico"> -->

    <!-- bootstrap -->
    <link rel=" stylesheet " href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css " integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm " crossorigin="anonymous ">

    <!-- JQuery & Popper Js  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>

    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>

    <!-- Google Fonts -->
    <link rel="preconnect " href="https://fonts.gstatic.com ">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Open+Sans&family=Quicksand&display=swap " rel="stylesheet ">

    <!-- CSS -->
    <link rel="stylesheet " href="css/styles.css ">

</head>

<body>

    <div class="cursor"></div>

    <nav class="navbar navbar-dark bg-dark navbar-expand-md navbarSpacing">

        <a href="/" class="navbar-brand px-4 myLogo">
            <p class="myLogoText">SAmeer</p>
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">

            <ul class="navbar-nav ml-auto">

                <li class="nav-item px-3 ">
                    <a href="/" class="nav-link"><span class="navLink">Home</span></a>
                </li>

                <li class="nav-item px-3">
                    <a href="/projects" class="nav-link"><span class="navLink">Projects</span></a>
                </li>

                <li class="nav-item px-3">
                    <a href="/snippets" class="nav-link"><span class="navLink">Snippets</span></a>
                </li>

                <!-- <li class="nav-item px-3">
                    <a href="" class="nav-link"><span class="navLink">Hobbies</span></a>
                </li> -->

                <li class="nav-item px-3">
                    <a href="/contact" class="nav-link"><span class="navLink">Contact</span></a>
                </li>

            </ul>

        </div>

    </nav>