<%- include("partials/header") %>

    <section class="whiteSection">

        <div class="container-fluid">

            <h1 class="bigHead">Projects</h1>

            <p class="textContent">Please find below some of my projects and other interests. </p>

        </div>

    </section>

    <div class="row projectSpace">

        <div class="col-md-6">
            <div class="jumbotron">
                <h1 class="bigHead2">Git Hub</h1>

                <hr class="my-4">

                <p class="textContent">
                    Please Visit the link given below to view most of my Projects
                </p>

                <p class="lead">
                    <a class="btn btn-dark" href="https://github.com/sameerad2001" role="button">GIT</a>
                </p>

            </div>
        </div>

        <div class="col-md-6">
            <div class="jumbotron">
                <h1 class="bigHead2">News letter(demo)</h1>

                <hr class="my-4">

                <p class="textContent">
                    A Demo website deployed on Heroku which collects contact info via mail chimp api and can be used to subscribe people for News Letters
                </p>

                <p class="lead">
                    <a class="btn btn-dark" href="https://morning-headland-37169.herokuapp.com/" role="button">Demo</a>
                </p>

            </div>
        </div>

        <div class="col-md-6">
            <div class="jumbotron">
                <h1 class="bigHead2">C++ practice </h1>

                <hr class="my-4">

                <p class="textContent">
                    Solutions to a few of the c++ practice questions from geeks for geeks that I attempted
                </p>

                <p class="lead">
                    <a class="btn btn-dark" href="https://github.com/sameerad2001/myGeekForGeeksPracticeQuestions" role="button">C++</a>
                </p>

            </div>
        </div>

        <div class="col-md-6">
            <div class="jumbotron">
                <h1 class="bigHead2">Photography </h1>

                <hr class="my-4">

                <p class="textContent">
                    I am huge Photography nerd and am very passionate about the hobby. So if that interests you please find below my Shutter Stock Profile
                </p>

                <p class="lead">
                    <a class="btn btn-dark" href="https://www.shutterstock.com/g/sameerad" role="button">Shutter Stock</a>
                </p>

            </div>
        </div>

    </div>

    <%- include("partials/footer") %>