<%- include("partials/header") %>

    <section class="whiteSection">

        <div class="container-fluid">

            <h1 class="bigHead snippetsTitle">
                <%= post.title %>
            </h1>

            <p class="snippetsBody">
                <%= post.text %>
            </p>

        </div>

    </section>

    <%- include("partials/footer") %>